/*Подключение шрифтов*/
@font-face {
    font-family: "Cuprum";
    src: local("cuprum"),
        local("cuprum"),
        url("../fonts/cuprum.woff2") format("woff2"),
        url("../fonts/cuprum.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "Cuprum Italic";
    src: local("cuprumitalic"),
        local("cuprumitalic"),
        url("../fonts/cuprumitalic.woff2") format("woff2"),
        url("../fonts/cuprumitalic.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: local("ptsans"),
        local("ptsans"),
        url("../fonts/ptsans.woff2") format("woff2"),
        url("../fonts/ptsans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

/*Стилизация header*/
.header {
    min-width: 940px;
    background-color: #F1F5F7;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 320px;
    margin-bottom: 17px;
}

.navbar {
    min-width: 940px;
    background-color: #293449;
    max-height: 42px;
}

.navbar-container {
    width: 940px;
    margin: 0 auto;
    display: flex;
}

.logo_head {
    width: 220px;
    height: 47px;
    float: left;
    clear: both;
    background: url(../img/head_logo.jpeg) no-repeat 0 0;
}

.logo_head:active {
    opacity: .3;
}

.site-name {
    display: none;
}

.navbar-form__input {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    width: 284px;
    height: 42px;
    padding-left: 49px;
    background-color: #293449;
    color: #ffffff;
    background-image: url(../img/icon-search.svg);
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 17px 12px;
    border: none;
    border-radius: 0;
    outline: 0;
}

.navbar-form__input[type="search"]::-webkit-input-placeholder {
    color: #ffffff;
}

.navbar-form__input:hover {
    background-image: url(../img/icon-search-white.svg);
}

.navbar-form__input:focus {
    color: #000000;
    background-color: white;
    background-image: url(../img/icon-search-red.svg);
}


.nav-bar__panel {
    display: flex;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 9px;
}

.nav-bar__elem-link--bookmark {
    padding-right: 25px;
    padding-left: 25px;
}

.nav-bar__elem-link--bookmark::before {
    content: '';
    display: inline-block;
    background-image: url(../img/icon-bookmark-white.svg);
    width: 14px;
    height: 16px;
    margin-right: 8px;
    margin-bottom: 4px;
    vertical-align: middle;
    opacity: .3;
}

.nav-bar__elem-link--bookmark:hover {
    content: '';
    background-image: url(../img/icon-bookmark-white.svg);
    width: 14px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: 25px 2px;
    opacity: 1;

}

.nav-bar__elem-link--bookmark:active {

    background-color: #161D29;
    padding-bottom: 10px;
    padding-top: 11px;
    padding-right: 25px;
    background-position: 25px 13px;
    opacity: .3;
}

.nav-bar__elem-link--cart {
    padding-right: 25px;
}


.nav-bar__elem-link--cart::before {
    content: '';
    display: inline-block;
    background-image: url(../img/icon-cart-white.svg);
    width: 15px;
    height: 15px;
    margin-left: 25px;
    margin-right: 8px;
    margin-bottom: 2px;
    vertical-align: middle;
    opacity: .3;
}

.nav-bar__elem-link--cart:hover {
    content: '';
    background-image: url(../img/icon-cart-white.svg);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: 25px 3px;
    opacity: 1;
}

.nav-bar__elem-link--cart:active {
    background-color: #161D29;
    padding-bottom: 10px;
    padding-top: 11px;
    background-position: 25px 14px;
    opacity: .3;
}


.nav-bar__elem-link--order {
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 19px;
    padding-right: 16px;
    background-color: #63A63E;
}

.nav-bar__elem-link--order:hover {
    background-color: #5FBB2D;
}

.nav-bar__elem-link--order:active {
    opacity: .3;
}


.nav-bar__elem-link,
.nav-bar__elem,
.nav-bar__panel {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;

}

.header-info {
    width: 940px;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    margin: 0 auto;
    margin-top: 41px;
    margin-bottom: 40px;
}

.header-info__text {
    font-family: "Cuprum Italic";
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #EE3643;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 33px;
}

.header-info__text-adress-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 93px;
    padding-right: 69px;
}

.header-info__text-number {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: #EE3643;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    background: #F3F7F9;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-right: 45px;
    padding-left: 39px;
}

.header-info__text-number::before {
    content: '';
    display: inline-block;
    background-image: url(../img/Shape.png);
    width: 17.51px;
    height: 18.97px;
    margin-right: 16.51px;
    margin-bottom: 5px;
    vertical-align: middle;

}

.header-info__text-adress {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #32425C;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.header-info__link-btn,
.header-info__link {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header-info__link-btn {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #FFFFFF;
    margin-left: 10px;
}

.header-info__link-btn--login {
    background-color: #FFFFFF;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 45px;
    padding-right: 27px;
    margin-left: 0;
    background-image: url(../img/icon-login.png);
    background-repeat: no-repeat;
    background-position: 19px 14px;
}

.header-info__link-btn--login:hover {
    background-image: url(../img/icon-login-grey.png);
    color: #EE3643;
}

.header-info__link-btn--login:active {
    opacity: .5;
    color: #C5C5C5;
    background-image: url(../img/icon-login.png);
}

.header-info__link-btn--registration:hover {
    color: #EE3643;
}

.header-info__link-btn--registration:active {
    opacity: .5;
    color: #C5C5C5;
}

presentation__info .navigation__main-elem,
.navigation__main-link,
.navigation__panel {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
}

.presentation__info {
    background-image: url(../img/new-flag.png);
    background-repeat: no-repeat;
    background-position: 240px 0px;
}

.navigation__main-link:hover {
    background-color: #293449;
}

.navigation__main-link:active {
    opacity: .3;
}

.navigation {
    background-color: #32425C;
    width: 940px;
    margin: 0 auto;
    background: #32425C;
    box-shadow: inset 0px -5px 0px #293449;
}

.navigation__panel {
    display: flex;

}

.header-info__user-link {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
}

.navigation__panel {
    padding-left: 13px;
}

.navigation__main-link {
    padding-left: 28px;
    padding-right: 32px;
    padding-top: 19px;
    padding-bottom: 14px;
}

/*block presentation*/

.presentation {
    width: 940px;
    margin: 0 auto;
    display: flex;

}

.presentation__main-text,
.presentation__text {
    margin-top: 20px;
    margin-bottom: 0;
}

.presentation__info {
    width: 300px;
    max-height: 123px;
}

.presentation__main-text {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 23px;
}

.presentation__main-text--uppercase {
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    margin-top: 0;
    padding-top: 19px;
}

.presentation__link {
    display: block;
    width: 135px;
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .1);
    text-align: center;
    color: #fff;
    border-radius: 3px;
    padding: 10px 0;
    margin-top: 14px;
    margin-bottom: 21px;
    margin-left: 23px;
}

.presentation__link:hover {
    background-color: rgba(0, 0, 0, .2);
}

.presentation__link:active {
    background-color: rgba(0, 0, 0, .3);
}



.presentation__info--yellow {
    display: flex;
    background-color: #FFBF47;
}

.presentation__bucket-svg {
    margin-left: 50px;
    margin-top: 31px;
}

.presentation__info--blue {
    display: flex;
    background-color: #3BBCE3;
    margin-left: 20px;
}

.presentation__drill-svg {
    margin-top: 34px;
    margin-left: 37px;
}

.presentation-info--purple {
    display: flex;
    background-color: #DC91D8
}

.presentation__truck-svg {
    margin-top: 31px;
    margin-left: 37px;
}

.presentation-info--green {
    display: flex;
    background-color: #8ED78F;
    margin-top: 20px;
}

.presentation__cart-svg {
    margin-top: 26px;
    margin-left: 38px;
}

.presentation__car-svg {
    margin-top: 32px;
    margin-left: 34px;
}

.presentation-info--img {
    width: 640px;
    height: 266px;
    background-image: url(../img/Layer.jpg);
    background-repeat: no-repeat;
    margin-top: 20px;
}

.presentation__link--red {
    display: block;
    width: 192px;
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .1);
    text-align: center;
    color: #fff;
    margin-left: 24px;
    margin-top: 113px;
    margin-bottom: 27px;
    padding-top: 11px;
    padding-bottom: 9px;
    background-color: #EE3643;
}

.presentation__link--red:hover {
    background-color: #CA2C37;
    ;
}

.presentation__link--red:active {
    background-color: #BA2732;
}

.small-text {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 0;
}

.presentation-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.bound {
    margin-top: 20px;
}

/*Блок популярные продукты popular-product*/

.popular-product__header {
    width: 940px;
    background-color: #F9F5F0;
    display: flex;
    margin: 0 auto;
    margin-top: 59px;
}

.popular-product__wrapper {
    width: 940px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
}

.popular-product__card:nth-child(1) {
    margin-left: 0;
}

.popular-product__card {
    margin-right: 20px;
    width: 220px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    margin-top: 1px;
}

.popular-product__card:nth-child(2) {
    background-image: url(../img/new-flag.png);
    background-repeat: no-repeat;
    background-position: 100% 0px;
}


.popular-product__card:nth-child(4) {
    background-image: url(../img/new-flag.png);
    background-repeat: no-repeat;
    background-position: 100% 0px;
}

.popular-product__card:hover {
    box-shadow: 0 0 25px 10px rgb(0 0 0 / 20%);
}

.bfg-9000__img {
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.bfg-3000__img {
    padding-top: 29px;
    padding-bottom: 38px;
    padding-left: 40px;
    padding-right: 53px;
}

.bfg-6000__img {
    padding-top: 22px;
    padding-bottom: 28px;
    padding-left: 33px;
    padding-right: 43px;
}

.bfg-2000__img {
    padding-top: 29px;
    padding-bottom: 38px;
    padding-left: 40px;
    padding-right: 53px;
}

.popular-product__main-text {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425C;
    margin-top: 29px;
    margin-bottom: 29px;
    margin-left: 28px;
}


.popular-product__main-link {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #EE3643;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 442px;
    margin-right: 14px;
    text-transform: uppercase;
}

.popular-product__main-link:hover {
    background-color: #CA2C37;
}

.popular-product__main-link:active {
    background-color: #BA2732;
}

.popular-product__card-text {
    display: block;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.popular-product__card-old-price {
    Font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: #A9A9A9;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0px;
}

.popular-product__card-actual-price {
    position: relative;
    width: 80px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: #FFFFFF;
    background-color: #EE3643;
    padding: 10px 30px;
    margin-top: 13px;
    margin-left: 45px;
    border-radius: 3px;
}

.popular-product__card-actual-price:after {
    content: '';
    position: absolute;
    top: 0;
    right: -19px;
    width: 0;
    height: 0;
    border: 19px solid #fff;
    border-left-color: #ee3643;
}

.popular-product__catalog-order {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 88px;
    padding: 40px 0;
    background-color: white;
}

.popular-product__card .popular-product__catalog-order {
    display: none;
}

.popular-product__card:hover .popular-product__catalog-order {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 219px;
    height: 88px;
    padding: 39px 0;
}


.popular-product__catalog-order-btn,
.popular-product__catalog-bookmark-btn {
    text-decoration: none;
    font-family: Cuprum;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;

}

.popular-product__catalog-order-btn {
    background-color: #63A63E;
    box-shadow: inset 0px -3px 0px #367315;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 53px;
    padding-right: 40px;
    background-image: url(../img/icon-cart.png);
    background-repeat: no-repeat;
    background-position: 30px 10px;
}

.popular-product__catalog-order-btn:hover {
    background-color: #5FBB2D;
}

.popular-product__catalog-order-btn:active {
    background-color: #518534;
}

.popular-product__catalog-bookmark-btn {
    border: 3px solid #63A63E;
    box-sizing: border-box;
    border-radius: 2px;
    color: #32425C;
    margin-top: 10px;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 30px;
    padding-right: 31px;
}

.popular-product__catalog-bookmark-btn:hover {
    color: #32425C;
    border: 3px solid #32425C;
    box-sizing: border-box;
    border-radius: 2px;
}

.popular-product__catalog-bookmark-btn:active {
    opacity: .3;
}

/*блок популярные производители popular-manufacturer*/

.popular-manufacturer__header {
    width: 940px;
    background-color: #F9F5F0;
    display: flex;
    margin: 0 auto;
    margin-top: 61px;
}

.popular-manufacturer__main-text {
    font-family: Cuprum;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425C;
    margin-top: 29px;
    margin-bottom: 30px;
    margin-left: 28px;

}


.popular-manufacturer__main-link {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-right: 38px;
    padding-left: 38px;
    margin-top: 25px;
    margin-bottom: 26px;
    background-color: #EE3643;
    text-decoration: none;
    margin-left: 334px;
}

.popular-manufacturer__main-link:hover {
    background-color: #CA2C37;
}

.popular-manufacturer__main-link:active {
    background-color: #BA2732;
}

.popular-manufacturer__wrapper {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

}

.brand-logo__link {
    width: 220px;
    height: 145px;
    border: 1px solid #EAEAEA;
    margin-right: 17px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-logo__link:nth-child(4) {
    margin-right: 0;
}

.brand-logo__link:nth-child(8) {
    margin-right: 0;
}

.brand-logo__link:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.brand-logo__link:active {
    opacity: .3;
}

/*блок сервисы services*/
.services {
    background-color: #F1F5F7;
    min-width: 940px;
}

.services__wrapper-block {
    display: flex;
    padding-bottom: 50px;
}

.services__wrapper {
    width: 940px;
    margin: 0 auto;
    background-image: url(../img/services-car.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.services__wrapper-text {
    margin-top: 70px;
    margin-left: 80px;
}


.services__main-text {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    padding-top: 64px;
    margin-bottom: 0px;
}

.services__text {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    margin-top: 25px;
}

.services__main-text-delivery {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
}

.services__text-delivery {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 0px;

}

.services__wrapper-list {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.block-line {
    background-image: url(../img/vertical_line.png);
    position: relative;
    width: 10px;
    height: 279px;
    margin-top: 25px;
    right: 10px;

}

.services__list-link {
    width: 218px;
    background-color: #32425C;
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: left;
    padding-left: 22px;
    padding-top: 13.5px;
    padding-bottom: 17.5px;
    background: #32425C;
    box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.services__list-link:focus {
    background: #FFFFFF;
    color: #32425C;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px #FFFFFF;
}

.services__list-link:hover {
    background-color: #293449;
}

.services__list-elem {
    list-style-type: none;
}

/*блок о компании тезномарт about-technomart*/

.about-technomart {
    width: 940px;
    margin: 0 auto;
    display: flex;
}

.about-technomart__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    padding-bottom: 70px;
}

.about-technomart__wrapper:nth-child(2) {
    margin-left: 180px;
}

.about-technomart__main-text {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
}

.about-technomart__text {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    margin-top: 24px;
}

.about-technomart__list {
    list-style-type: none;
    padding-left: 0;
    margin: 0px;
}

.about-technomart__list-elem {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.about-technomart__list-elem:before {
    content: '';
    display: inline-block;
    background-image: url(../img/Object-line.png);
    width: 25px;
    height: 2px;
    vertical-align: middle;
    margin-right: 12px;
    margin-bottom: 2px;

}

.about-technomart__list-elem:nth-child(2) {
    margin-top: 12px;
}

.about-technomart__list-elem:nth-child(3) {
    margin-top: 12px;
    padding-bottom: 23px;
}

.about-technomart__link {
    width: 220px;
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 11px;
    padding-bottom: 9px;
    background-color: #EE3643;
    text-align: center;
    text-transform: uppercase;
}

.about-technomart__link:hover {
    background-color: #CA2C37;
}

.about-technomart__link:active {
    background-color: #BA2732;
}

.about-technomart__map-link {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 11px;
    padding-bottom: 9px;
    background-color: #EE3643;
    text-align: center;
    text-transform: uppercase;
    margin-top: 25px;
}

.about-technomart__map-link:hover {
    background-color: #CA2C37;
}

.about-technomart__map-link:active {
    background-color: #BA2732;
}

.about-technomart__map-img {
    margin-top: 32px;
}

/*Footer*/

.footer {
    min-width: 940px;
    background-color: #32425C;
}


.footer-wrapper {
    width: 940px;
    margin: 0 auto;
}

.footer-wrapper__social {
    width: 940px;
    margin: 0 auto;
    display: flex;
    padding-top: 35px;
    padding-bottom: 35px;
}

.footer-wrapper__list:nth-child(2) {
    margin-top: 22px;
    padding-bottom: 55px;
}


.footer__list-one,
.footer__list-two {
    list-style-type: none;
}

.footer__link {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #F1F5F7;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__link:active {
    opacity: .3;
}

.footer-main__logo {
    width: 220px;
    font-family: "Cuprum";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: #EE3643;
    text-align: center;
    background: #EE3643;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer__list-one-elem {
    margin-left: 58px;
}

.footer__list-one-elem:nth-child(1) {
    margin-left: 174px;
}

.footer__list-one {
    display: flex;
    margin-top: 44px;
    margin-bottom: 0px;
    padding-left: 0;
}

.footer__list-two {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 92px;
    padding-left: 0;
}

.footer__link-gold {
    color: #FFD180;
}

.footer-wrapper__list {
    display: flex;
}

.footer__text {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #F3F7F9;
    margin: 0;
    text-align: left;
}

.footer-wrapper--social {
    background-color: #293449;
}

.footer__link-social {
    outline: 0;
    width: 42px;
    height: 42px;
    background-color: #212a3a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 3px 3px 0;
}

.footer__link-social:hover {
    background-color: #EE3643;
}

.footer__link-social:active {
    background-color: #EE3643;
}

.footer__list-social {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    margin: 0;
    margin-left: 141px;
}

.footer-wrapper__social-text {
    margin: 0;
    display: flex;
    margin-left: 118px;
}

.footer__text-social {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
}

.footer__text-social:nth-child(2) {
    margin-left: 51px;
}

.footer__text-social-color {
    color: #FFD180;
    text-decoration: none;
}

.footer__text-social-color:hover {
    text-decoration: underline;
}

.footer__text-social-color:active {
    color: #EE3643;
}

/*Хлебные крошки каталога*/

.breadcrumb__elem-link {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
}

.breadcrumb {
    width: 940px;
    margin: 0 auto;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    margin-top: 3px;
}

.breadcrumb__elem:nth-child(1) {
    margin-left: 0px;
}

.breadcrumb__elem:nth-child(2),
.breadcrumb__elem:nth-child(3),
.breadcrumb__elem:nth-child(4) {
    padding-left: 40px;
}

.breadcrumb__elem-img {
    background-image: url(../img/icon-right-small.png);
    background-repeat: no-repeat;
    background-position: 17px 3px;
}

.main-catalog-name {
    width: 940px;
    margin: 0 auto;
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425C;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

}

.main-catalog-name-wrapper {
    width: 940px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #F1F5F7;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*Сортировка каталога*/

.catalog__wrapper {
    width: 940px;
    margin: 0 auto;
    display: flex;
}

.wrapper__sort-product {
    display: flex;
    flex-direction: column;
}

.filter__wrapper {
    margin-top: 20px;
}

.filter-contents {
    width:202px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    background: #F7F3EC;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
    text-transform: uppercase;
    margin-top: 0;
    padding-left: 18px;
    border-radius: 5px;
}

.production-legend {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.filter-list {
    list-style-type: none;
    padding-left: 0;
}

.filter__name-brand {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
}

.filter-networked {
    padding: 0;
    margin-top: 18px;
}

.supply-list {
    list-style-type: none;
    padding-left: 0;
}

.supply-listt__name {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
}

.filter-show-btn {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    padding-left: 79px;
    padding-right: 79px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    margin-top:37px;
}

.sort {
    width: 700px;
    background: #F7F3EC;
    display: flex;
    margin-left: 19px;
    margin-top: 20px;
    border-radius: 5px;
}

.sort-list {
    display: flex;
    list-style: none;
    margin: 0;
    margin-left: 140px;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sort-list__elem:nth-child(2) {
    margin-left: 70px;
}

.sort-list__elem:nth-child(3) {
    margin-left: 65px;
}

.sort__link__up {
    margin-left: 46px;
}


.sort__link__down {
    margin-left: 21px;
}

.sort__text {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    margin-left: 19px
}


.sort__link {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400l;
    font-size: 13px;
    line-height: 18px;
    color: #EE3643;
    text-decoration: none;
    text-transform: uppercase;
}


.sort__link--nonaction {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.3;
}

.sort__link--nonaction:hover {
    color: #000000;
    opacity: 1;
    border-bottom: #EE3643 1px solid;
}

.sort__link--nonaction:focus {
    color: #EE3643;
    opacity: 1;
}

.ubderline-dotted {
    border-bottom: #EE3643 1px solid;
    border-bottom-style: dotted;
}

.link__up-svg,
.link__down-svg {
    stroke: #C5C5C5;
    fill: #C5C5C5;
}

.link__up-svg:hover,
.link__down-svg:hover {
    stroke: #000000;
    fill: #000000;
}


.sort-list .sort__link__up:focus .link__up-svg {
    stroke: #EE3643;
    fill: #EE3643;
}

.sort-list .sort__link__down:focus .link__down-svg {
    stroke: #EE3643;
    fill: #EE3643;
}

.product__navigation-link {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 2px;

}

.product__navigation-link:hover {
    border: 1px solid #C5C5C5;
    box-sizing: border-box;
    border-radius: 2px;
}

.product__navigation-link:active {
    border: 1px solid #EE3643;
    box-sizing: border-box;
    border-radius: 2px;
}

.product__navigation-link:focus {
    border: 1px solid #EE3643;
    box-sizing: border-box;
    border-radius: 2px;
    background: #EE3643;
}


.product__navigation-link-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 31px;
    padding-right: 31px;
}

.product__navigation {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    margin-top: 48px;
    margin-left: 9px;
}

.product__navigation-elem {
    margin-left: 10px;
}

/*блок о перфораторах about-perforators*/

.about-perforators {
    min-width: 940px;
    background-color: #F1F5F7;
    margin-top: 65px;
}

.about-perforators__wrapper {
    width: 940px;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 68px;
}

.about-perforators__main-text {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
}

.about-perforators__text {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    margin-top: 25px;
}

/*блок товар добавлен add-order*/
.add-order {
    display: none;
}

.add-order__text {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.add-order__btn-wrapper {
    background: #F1F1F1;
    padding-top: 37px;
    padding-bottom: 37px;
}

.add-order__btn-arrange {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #EE3643;
    border: none;
    outline: none;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 47px;
    padding-right: 47px;
}

.add-order__btn-proceed {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 32px;
    padding-right: 32px;

}

/*блок формы обратгой связи feedback*/

.feedback {
    display: none;
}

.form__feedback-name,
.form__feedback-email,
.form__feedback-text {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.form__feedback-input {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #A9A9A9;
}

.form__feedback-btn-send {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #EE3643;
    border: none;
    outline: none;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 200px;
    padding-right: 200px;
}

/* список товаров product-group catalog.html */

.product-group {
    display: flex;
    flex-wrap: wrap;
    margin-left: 19px;
    margin-top: 10px;
}

.popular-product__card-catalog {
    margin-right: 20px;
    width: 220px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    margin-top: 18px;
}

.popular-product__card-catalog:nth-child(3) {
    margin-right: 0;
}

.popular-product__card-catalog:nth-child(6) {
    margin-right: 0;
}

.popular-product__card-catalog:nth-child(9) {
    margin-right: 0;
}

.popular-product__card-catalog .popular-product__catalog-order {
    display: none;
}

.popular-product__card-catalog:hover .popular-product__catalog-order {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 218px;
    height: 88px;
    padding: 40px 0;
}

.popular-product__card-catalog:hover {
    box-shadow: 0 0 25px 10px rgb(0 0 0 / 20%);
}

.popular-product__card-catalog:nth-child(3) {
    background-image: url(../img/new-flag.png);
    background-repeat: no-repeat;
    background-position: 100% 0px;
}


.popular-product__card-catalog:nth-child(4) {
    background-image: url(/..img/new-flag.png);
    background-repeat: no-repeat;
    background-position: 100% 0px;
}

.popular-product__card-catalog:nth-child(6) {
    background-image: url(../img/new-flag.png);
    background-repeat: no-repeat;
    background-position: 100% 0px;
}


.popular-product__card-catalog:nth-child(7) {
    background-image: url(../img/new-flag.png);
    background-repeat: no-repeat;
    background-position: 100% 0px;
}

.popular-product__card-catalog:nth-child(9) {
    background-image: url(../img/new-flag.png);
    background-repeat: no-repeat;
    background-position: 100% 0px;
}

/*фильтры*/

.filter-manufacturers {
    padding-left: 0;
    padding-bottom: 0;
}

.filter-list {
    margin-left: 41px;
}

.filter-listt__elem {
    padding-bottom: 20px;
}

.filter-listt__elem:last-child {
    padding-bottom:0;
}

.filter-listt__elem label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-item {
    padding-left: 0px;
    padding-bottom: 16px;
}

.supply-listt__elem label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox+label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: -4px;
    width: 23px;
    height: 23px;
    border: 2px solid #C5C5C5;
    border-radius: 5px;
}

.filter-input-checkbox:checked+label::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -34px;
    width: 21.72px;
    height: 16.76px;
    background-image: url("../img/check.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.supply-list {
    margin-left: 43px;
    margin-top: 24px;
}

.supply-listt__elem {
    padding-bottom: 22px;
}

.supply-listt__elem:last-child {
    padding-bottom:0;
}

.filter-input-radio+label::before {
    content: "";
    position: absolute;
    left: -44px;
    top: -7px;
    width: 23px;
    height: 23px;
    border: 5px solid #C5C5C5;
    ;
    border-radius: 50%;
}

.filter-input-radio:checked+label::after {
    content: "";
    position: absolute;
    top: 5.5px;
    left: -32px;
    width: 9px;
    height: 9px;
    background-color: #C5C5C5;
    
    border-radius: 50%;
}

.filter-name {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.range-filter {
    width: 220px;
    margin-top: 10px;
}

.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #F7F3EC;
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 140px;
}

.price-controls input {
    width: 75px;
    padding: 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background-color: #F7F3EC;
    font-family: inherit;
    font-size: inherit;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
}

.line {
    width: 220px;
    height:1px; 
    background: #000000;
    opacity: 0.1;
    margin-top:25px;
}

