/*Подключение шрифтов*/
@font-face {
    font-family: "Cuprum";
    src: local("cuprum"),
        local("cuprum"),
        url("/fonts/cuprum.woff2") format("woff2"),
        url("/fonts/cuprum.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "Cuprum Italic";
    src: local("cuprumitalic"),
        local("cuprumitalic"),
        url("/fonts/cuprumitalic.woff2") format("woff2"),
        url("/fonts/cuprumitalic.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: local("ptsans"),
        local("ptsans"),
        url("/fonts/ptsans.woff2") format("woff2"),
        url("/fonts/ptsans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: grey;
}

/*Стилизация header*/
.header {
    background-color: #F1F5F7;
}

.site-name {
    display: none;
}

.navbar {
    background-color: #293449;
}

.nav-bar__elem-link,
.nav-bar__elem,
.nav-bar__panel {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
}

.header-info__text {
    font-family: "Cuprum Italic";
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #EE3643;
}

.header-info__text-number {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: #EE3643;
}

.header-info__text-adress {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #32425C;
}

.header-info__link-btn,
.header-info__link {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
}

.navigation__main-elem,
.navigation__main-link,
.navigation__panel {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
}

.navigation {
    background-color: #32425C;
}